:root, :before, :after{
  
}



.section-login .section-container{width:auto; max-width:480px;}
.section-login-box{padding:var(--size-4);}
.section-login-box, .slb-row{display:grid;}
.section-login-box{grid-gap:var(--size-3);}
.slb-row{grid-gap:var(--size-1);}







@media screen and (min-width:0px) and (max-width:413px){
  
}







@media screen and (min-width:414px) and (max-width:1023px){
  
}







@media screen and (min-width:0px) and (max-width:1023px){
  
}







@media screen and (min-width:640px){
  
}







@media screen and (min-width:768px){
  
}







@media screen and (min-width:1024px){
  
}







@media screen and (min-width:1280px){
  
}
